@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "User Control";
}

<style>
    .dataTables_filter {
        margin-bottom: 20px;
    }
</style>

<div class="container p-3 test">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users List</h2>
        </div>
        <div class="col-6 text-end">
              @if (User.IsInRole("Admin")){
            <a id="register" asp-area="Identity" asp-page="/Account/Register" class="btn btn-dark">Add User</a>
              }
        </div>
    </div>
</div>
<hr class="mt-3" />
<table class="table table-striped" id="cartable">
    <thead>
        <tr>
        <th class="bg-dark text-light">Name</th>
        <th class="bg-dark text-light">Email</th>
        <th class="bg-dark text-light">Phone Number</th>
        <th class="bg-dark text-light">Regular</th>
        <th class="bg-dark text-light">Active</th>
        <th class="bg-dark text-light">User Name</th>
        <th class="bg-dark text-light">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.PhoneNumber
                </td>
                <td>
                    @user.IsRegular
                </td>
                <td>
                    @user.IsActive
                </td>
                <td>
                    @user.UserName
                </td>
                <td>
                    <a asp-controller="User" asp-action="EditUserDetail" asp-route-id="@user.Id" class="anchor-size text-dark"><i class="fas fa-edit"></i></a>
                    <a onclick="deleteUser('@user.Id')" class="anchor-size" style="color: #d9534f;"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cartable').DataTable()
        });
    </script>
    <script>
     function deleteUser(userId) {
            Swal.fire({
                html: `
                <div class="swal2-custom-icon">
                    <i class="bi bi-trash text-danger" style="font-size: 5rem;"></i>
                </div>
                <div class="swal2-custom-title fs-1 pb-3 fw-bold">
                    Are you sure?
                </div>
                <div class="swal2-custom-text pt-3 pb-3">
                    Do you really want to delete this user? This process cannot be undone!
                </div>
                `,
                text: "You won't be able to revert this!",
                showCancelButton: true,
                confirmButtonColor: 'crimson',
                cancelButtonColor: 'gray',
                confirmButtonText: 'Delete',
                customClass: {
                    confirmButton: 'swal2-custom-button delete-confirm-button',
                    cancelButton: 'swal2-custom-button delete-cancel-button',
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Make an AJAX call to delete the user from the server
                    $.ajax({
                        type: "POST",
                        url: "/user/Delete/" + userId,
                        success: function (data) {
                            // If the deletion was successful, reload the page
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            // If there was an error, show an error message
                            Swal.fire('Error', 'An error occurred while deleting the user', 'error');
                        }
                    });
                }
            })
        }
    </script>
}