 @model  IEnumerable<Offer> 
@{
    ViewData["Title"] = "Offer";
}

<style>
    .dataTables_filter input {
        border: none !important;
        box-shadow: none !important;
        outline: 1px solid #ccc !important;
    }
    .dataTables_filter input:hover,
    .dataTables_filter input:focus {
        box-shadow: none !important;
        outline: 1px solid #ccc !important;
    }
    #cartable {
        padding-top: 20px;
    }   
    .swal2-custom-button {
        border: none !important;
        box-shadow: none !important;
    }
    .delete-confirm-button {
        background-color: #d9534f !important;
        box-shadow: none !important;
        border: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
    }

    .delete-cancel-button {
        background-color: #f2f2f2 !important;
        color: black !important;
        border: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
    }
</style>

<div class="container p-3 test">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Offer List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Car" asp-action="Index" class="btn btn-dark">Add Offer</a>
        </div>
    </div>
</div>
<hr class="mt-3" />
<table class="table table-striped" id="cartable">
    <thead>
        <tr>
            <th class="bg-dark text-light">Car Model</th>
            <th class="bg-dark text-light">Car No</th>
            <th class="bg-dark text-light">Discount Rate</th>
            <th class="bg-dark text-light">Description</th>
            <th class="bg-dark text-light">End Date</th>
            <th class="bg-dark text-light">Valid</th>
           <th class="bg-dark text-light">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model)
        {
            <tr>
                <td>
                    @offer.Car.Model
                </td>

                <td>
                    @offer.Car.VehicleNo
                </td>

                <td>
                    @offer.DiscountRate
                </td>
                <td>
                    @offer.OfferDescription
                </td>
                <td>
                    @offer.EndDate
                </td>
                <td>
                    @(offer.Status == true ? "Open" : "Close")
                </td>
                <td>
                   
                    <a onclick="deleteUser('@offer.OfferID')" class="anchor-size text-dark"><i class="fa fa-trash"></i></a>
                    <a asp-controller="Offer" asp-action="CloseOffer" asp-route-id="@offer.OfferID" class="anchor-size" style="color: #d9534f;"><i class="fa-sharp fa-solid fa-lock"></i></a>
                 

                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cartable').DataTable()
        });
    </script>
    <script>
        function deleteUser(offerId) {
            Swal.fire({
                html: `
                <div class="swal2-custom-icon">
                    <i class="bi bi-trash text-danger" style="font-size: 5rem;"></i>
                </div>
                <div class="swal2-custom-title fs-1 pb-3 fw-bold">
                    Are you sure?
                </div>
                <div class="swal2-custom-text pt-3 pb-3">
                    Do you really want to delete this user? This process cannot be undone!
                </div>
                `,
                text: "You won't be able to revert this!",
                showCancelButton: true,
                confirmButtonColor: 'crimson',
                cancelButtonColor: 'gray',
                confirmButtonText: 'Delete',
                customClass: {
                    confirmButton: 'swal2-custom-button delete-confirm-button',
                    cancelButton: 'swal2-custom-button delete-cancel-button',
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Make an AJAX call to delete the car from the server
                    $.ajax({
                        type: "POST",
                        url: "/offer/Delete/" + offerId,
                        success: function (data) {
                            // If the deletion was successful, reload the page
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            // If there was an error, show an error message
                            Swal.fire('Error', 'An error occurred while deleting the car', 'error');
                        }
                    });
                }
            })
        }
    </script>
}