@model IEnumerable<Damage>
@{
    ViewData["Title"] = "Damage";
}

<style>
    .no-border {
        border: none !important;
    }
    .no-outline {
        outline: none !important;
        box-shadow: none !important;
    }
    .dataTables_filter input {
        margin-bottom: 20px;
    }
    .dataTables_filter input:hover,
    .dataTables_filter input:focus {
        box-shadow: none !important;
        outline: 1px solid #ccc !important;
    }
</style>

<div class="d-flex justify-content-center align-items-center h-100 no-border no-outline">
    <div class="container no-border pt-4">
        <h2 class="fw-bold mb-0 text-start text-dark pt-3 pb-4">Damage Request</h2>
        <hr/>
    <table class="table" id="damageTable">
        <thead>
            <tr>
                <th class="bg-dark text-light">User</th>
                <th class="bg-dark text-light">Model</th>
                <th class="bg-dark text-light">Vehicle No</th>
                <th class="bg-dark text-light">Damage Type</th>
                <th class="bg-dark text-light">Damage Description</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var damage in Model)
            {
               <tr class="text-black">
                   <td>@damage.User.UserName</td>
                   <td>@damage.Car.Model</td>
                   <td>@damage.Car.VehicleNo</td>
                   <td>@damage.DamageType</td>
                   <td>@damage.DamageDescription</td>
               </tr>
            }
        </tbody>
    </table>
    </div>
    </div>
    </div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#damageTable').DataTable()
        });
    </script>
}